*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body {
    background-color: #03006f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.movie-container {
    margin: 50px 0;
}
label{
    color:#dcf1fc;
    font-size: 30px;
}
#movie-id{
    background-color: #338bab;
    color:#dcf1fc;
    padding: 5px 5px;
    text-align: center;
    font-size: 20px;
    border:none;
    outline: none;
    border-radius: 5px;
}
.text{
    color:#dcf1fc;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}
#count{
    color:#4bfce2;
}
#totalprice{
    color:#4bfce2;
}
.container{
    perspective: 1000px;
    margin: 30px;
}
.seat{
    background-color: #fceaff;
    height: 32px;
    width: 32px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    text-align: center;
}
.seat.selected{
background-color: #66ff00;
}
.seat.occupied{
    background-color: #c40000;
}
.seat:nth-of-type(2){
    margin-right: 18px;
}
.seat:nth-last-of-type(2){
    margin-left: 18px;
}
.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}
.showcase{
    background-color: #338bab;
    padding:5px 10px;
    border-radius: 5px;
     color:#dcf1fc;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.showcase li small{
    margin-left: 2px;
    font-size: 20px;
}
.showcase .seat:not(.occupied):hover{
    cursor:not-allowed;
    transform: scale(1);
}
.row{
    display: flex;
}
.screen{
    background-color: #fff;
    height: 100px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);

}
button{
    color:#338bab;
    border-color:bisque;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.9);
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: bold;
}
.button-main-container{
height: 100vh;
width:100vw;
position: fixed;
display: flex;
justify-content: center;
align-items: center;
left: 0;
top: 0;
opacity:0;/* to make not visible and pointer events to amke the cursor use under*/
pointer-events:none;
background-color: rgba(239, 238, 238, 0.5);
}
.button-main-container.show{
opacity:1;/* to make visible and pointer events to amke the cursor use under*/
pointer-events:auto;
}
.button-container{
    background-color: #F5F2E8;
    padding:30px 25px;
    text-align: center;
    border:5px dashed #c40000;
    border-radius: 10px;
    max-width:100%;
    width:600px;
}
.button-container h1{
    margin:0;
    color:#c40000;
    font-weight: bold;
}
.button-container p{
color:#338bab;
}